.app{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    gap: 50px;
    background-color: black;
    color: white;
    margin: auto;
}


@media (max-width:480px) {
    .app{
        gap: 10px;
    }
}


