hr{
    position: relative;
    top:50;
    height: 1px solid white;
    color: rgb(218, 162, 162);
    width: 95%;
    
    margin: auto;
}

@media (max-width:480px) {
    hr{
        color:whitesmoke;
        width: 200px;
        
    }
}