
.skills{
    
    position: relative;
    
    margin: auto;
    height: auto;
    width: 80%;

    
 
}




.allskillsBox{
    flex-wrap: wrap;
    
    height: 50%;
    width: 100%;
    margin: auto;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.react-box{
    
    display: flex;
    padding: 15px 0px;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    height: 70%;
    width: 18%;

    border-radius: 10%;
    border: 3px solid; 
    border-image: linear-gradient(45deg, rgb(34, 29, 190), rgb(0, 0, 0)) 1; 
    gap: 4px;
    margin: 40px 20px;
    min-height: 200px;
}

.react-box img{
    position: relative;
    left:0;
    bottom: 30;
}



.skillsHeading h1{
    margin: 30px 450px;
    font-size: 60px;
}



.react-box p{
   
    height: 85%;
    width: 85%;
    margin: auto;
    font-size: 18px;

        font-family: "Raleway", sans-serif;
        font-weight: 100;
        font-style: normal;
        word-spacing: 10px;
}

.react-box h4{
    
    
font-family: "Raleway", sans-serif;
font-weight: 500;
font-style: normal;
}

@media (max-width:480px) {
.skills{
    height: auto;
}

.react-box{
    
    
   
    height: auto;
    width: 200px;
    
    gap: 4px;
    flex-shrink: 0;
  
}

.react-box img{
    height: 60px;
    width: 60px;
    position: relative;
    left:0;
    bottom: 30;
}


.skillsHeading h1{
    margin: 50px 120px;
    font-size: 50px;
}



.react-box p{
   
    height: 85%;
    width: 85%;
    margin: auto;
    font-size: 12px;
        font-family: "Raleway", sans-serif;
        font-weight: 100;
        font-style: normal;
        word-spacing: 10px;
}

.react-box h4{
    
    
font-family: "Raleway", sans-serif;
font-weight: 500;
font-style: normal;
}
}
